@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary-50: #fcf8f0;
    --color-primary-100: #f9efdb;
    --color-primary-200: #f2dbb6;
    --color-primary-300: #eac287;
    --color-primary-400: #e2a55f;
    --color-primary-500: #d98736;
    --color-primary-600: #cb6f2b;
    --color-primary-700: #a95725;
    --color-primary-800: #874525;
    --color-primary-900: #6d3a21;
    --color-primary-950: #3b1d0f;
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));

    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
    :root {
        --background: 32 100% 95%;
        --foreground: 32 5% 0%;
        --muted: 34 50% 85%;
        --muted-foreground: 32 5% 35%;
        --popover: 32 100% 95%;
        --popover-foreground: 32 100% 0%;
        --card: 32 50% 90%;
        --card-foreground: 32 5% 10%;
        --border: 31.95 30.2% 50%;
        --input: 32 30% 18%;
        --primary: 32 69.3% 62.9%;
        --primary-foreground: 0 0% 0%;
        --secondary: 32 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --accent: 34 50% 75%;
        --accent-foreground: 34 10% 10%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 32 5% 90%;
        --ring: 32 69.3% 62.9%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 32 50% 5%;
        --foreground: 32 5% 90%;
        --muted: -6 30% 15%;
        --muted-foreground: 32 5% 60%;
        --popover: 32 50% 5%;
        --popover-foreground: 32 5% 90%;
        --card: 32 50% 0%;
        --card-foreground: 32 5% 90%;
        --border: 32 30% 18%;
        --input: 32 30% 18%;
        --primary: 32 69.3% 62.9%;
        --primary-foreground: 0 0% 0%;
        --secondary: 32 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --accent: -6 30% 15%;
        --accent-foreground: 32 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 32 5% 90%;
        --ring: 32 69.3% 62.9%;
    }
}
