.navbar {
    width: 100%;
    top: 0;
    z-index: 50;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.navbar.transparent {
    @apply bg-transparent shadow-none;
}

.navbar.transparent img.logo {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(1);
    transform-origin: top center;
    transform: scale(1.75);
    transform-origin: top;
    transition-property: filter, transform;
    transition-duration: 500ms;
}

.navbar .links a {
    @apply text-primary-900;
    transition-property: color;
    transition-duration: 500ms;
}

.navbar .links a:hover {
    @apply text-primary-700;
}

.transparent .links a {
    @apply text-primary-100;
}

.transparent .links a:hover {
    @apply text-primary-300;
}

.navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.navbar .hamburger .bar {
    @apply bg-primary-950;
    width: 100%;
    height: 3px;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        opacity 0.3s ease;
}
.navbar.transparent .hamburger .bar {
    @apply bg-white;
}

.navbar .hamburger.open .bar:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
}
.navbar .hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.navbar .hamburger.open .bar:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
}
